/* Main  */  
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .main-title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: #5385cc;
    font-size: 20px;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
  }
  
  .card:first-child {
    background-color: #5385cc;
  }
  
  .card:nth-child(2) {
    background-color: #5385cc;
  }
  
  .card:nth-child(3) {
    background-color: #5385cc;
  }
  
  .card:nth-child(4) {
    background-color: #5385cc;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .card_icon {
    font-size: 25px;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
  }

 /* Bus Types List Section */
.bus-types-list {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 5px;
  color: #333; /* Dark text color */

  /* Center the content */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Box shadow for a subtle elevation */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bus-types-list h2 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  color: #5385cc; /* Dark text color */
}

.bus-types-list ul {
  list-style: none;
  padding: 0;
  text-align: center; /* Center align the list items */
}

.bus-types-list li {
  font-size: 15px;
  margin-bottom: 10px;
}

/* Add spacing between the list items */
.bus-types-list li:not(:last-child) {
  margin-bottom: 10px;
}
  /* End Main  */
  
  
  /* Medium <= 992px */
    
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  /* Small <= 768px */
    
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  
  @media screen and (max-width: 576px) {
    .hedaer-left {
      display: none;
    }
  }